TUSHARE_TOKEN=
ALPHA_VANTAGE_API_KEY=
POLYGON_API_KEY=
MOOMOO_HOST=127.0.0.1
MOOMOO_PORT=11111
PFI_REPORT_DIR=
PFI_INDUSTRY_REPORT_DIR=
PFI_ALIPAY_LEDGER_DIR=
PFI_INDUSTRY_HOLDINGS_DIR=
PFI_CONSUMER_HOLDINGS_DIR=
PFI_HOLDINGS_DIR=
PFI_APP_INSTALL_DIR=
PFI_DATA_HOME=
PFI_LLM_PROVIDER=DisabledProvider
