[Unit]
Description=每分钟检查阅迁账户平台

[Timer]
OnBootSec=20s
OnUnitActiveSec=60s
AccuracySec=10s
RandomizedDelaySec=5s
Persistent=true
Unit=weread-port-platform-health.service

[Install]
WantedBy=timers.target
