[Unit]
Description=Signal Lattice status timer
[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
RandomizedDelaySec=20
Persistent=true
[Install]
WantedBy=timers.target
